In [6]:
import pandas as pd

df = pd.read_csv("camp_species_observations.csv")

In [7]:
df

,sample_id,year,month,day,site,station,latitude,longitude,species_code,sav,sav_level,adults,yoy,total_ind,total_all
61330,2542,2008,6,1,Caraquet (NB),Rue Blanchard,47.817719,-64.99786,FUCU,True,0.50,NaN,NaN,NaN,0.50
62740,2370,2008,5,1,Caraquet (NB),Rue Blanchard,47.817719,-64.99786,BSS,False,NaN,2.0,0.0,2.0,2.00
80313,267,2004,8,1,Caraquet (NB),Rue Blanchard,47.817719,-64.99786,MUM,False,NaN,347.0,3.0,350.0,350.00
72899,1139,2006,6,1,Caraquet (NB),Rue Blanchard,47.817719,-64.99786,4SS,False,NaN,1.0,0.0,1.0,1.00
72900,1139,2006,6,1,Caraquet (NB),Rue Blanchard,47.817719,-64.99786,MUM,False,NaN,781.0,0.0,781.0,781.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10433,8748,2016,7,1,Pictou (NS),Power Plant,45.625960,-62.64932,GCR,False,NaN,23.0,0.0,23.0,23.00
13740,8349,2015,8,1,Pictou (NS),Power Plant,45.625960,-62.64932,GRAL,True,0.33,NaN,NaN,NaN,0.33
82333,51,2004,5,1,Pictou (NS),Power Plant,45.625960,-62.64932,FUCU,True,0.50,NaN,NaN,NaN,0.50
82332,51,2004,5,1,Pictou (NS),Power Plant,45.625960,-62.64932,GRAL,True,2.75,NaN,NaN,NaN,2.75
67298,1821,2007,6,1,Pictou (NS),Power Plant,45.625960,-62.64932,GCR,False,NaN,1.0,0.0,1.0,1.00